.button-div {
  width: 10rem;
  height: 10rem;
}

.button {
  height: 10rem;
  width: 10rem;
  font-size: 4rem;
}

button {
  height: auto;
  width: auto;
}

#calculator {
  width: 40rem;
  height: 50rem;
  display: flex;
  flex-flow: column wrap; 
  justify-content: center;
  align-items: start;
}

#numberButtonContainer {
  width: 30rem;
  height: 40rem;
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
  align-items: start;
}

#functionButtonContainer {
  width: 10rem;
  height: 50rem;
  display: flex;
  flex-flow: column; 
  justify-content: center;
  align-items: end;
}

#calculationFieldContainer {
  width: 30rem;
  height: 10rem;
  }

#calculationFieldText {
  padding: 2px 20px;
  font-size: 9rem;
  text-align: right;
  margin: 0;
}

#button0 {
  flex-grow: 2;
}

#button\= {
  flex-grow: 2;  
}