.button-div {
  width: 10rem;
  height: 10rem;
}

.button {
  height: 100%;
  width: 100%;
}

button {
  height: auto;
  width: auto;
}

#root {
  width: 40rem;
  height: 40rem;
}

#container {
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
  align-items: start;
}

.number {
  align-items: center;
  justify-content: center;
}

#button0 {
  flex-grow: 2;
}